<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="assets/docs.css">
		<link rel="search" type="application/opensearchdescription+xml" title="DHTMLX Docs" href="assets/opensearch.xml">
		<script src="assets/autocomplete.js" type="text/javascript" charset="utf-8"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="initial-scale = 1.0" />
		<link href="./assets/favicon.ico" rel="shortcut icon" />
		<title>Webix : $$title</title>
	</head>
<body>
	$$analytic
	<div class='abstop_header'>
		<div class='content_area'>
		&nbsp;<!-- <span>English</span>
		|
		<span>Log in</span> -->
		</div>
	</div>
	<div class="page_header">
		<div class='page_inner_header'>
			<a href='http://webixui.com'><div class='top_webix_logo'></div></a>
			Developer Documentation
		</div>
	</div>

	<div class="page_space">
	<div class="webixdoc_page webixdoc_$$pageclass?">

		<!-- Left Navigation -->
		<div class="webixdoc_navarea">
			<div id="webixNavigation" class='webixdoc_navarea_inner'>
				<div class="webixdoc_search">
					<form method="get" action="search.php">
						<input type="text" accesskey="f" name="query" placeholder="Search the docs..." value="" autocomplete="off">
						<button type="submit"><img src="assets/common/search_icon.png"/></button>
					</form>
				</div>
				<div class='webixdoc_nav'>
					$$toc?
				</div>
			</div>
		</div>	  
		<!-- Left Navigation_end -->

		<div id="webixContent" class='webixdoc_content'>
			<div class="webixdoc_content_inner">
				<div class="webixdoc_breadcrumb">
				    $$back?
				</div>
				$$todo?
				<!-- Content Area -->
				$$data
				<!-- Content Area_end -->
				<a href='#top' class='webixdoc_backtop'>Back to top</a>
				$$discuss
			</div>
		</div>

		<!--Side quick links -->
		<div class="side_links">
			<a class="reference_link" href="api__toc__ui.html">
				<span>API Reference</span>
			</a>
			<a class="sample_link" href="$${sample_http}index.html">
				<span>Code Samples</span>
			</a>
			<a class="forum_link" href="http://forum.webixui.com/">
				<span>Developer Forum </span>
			</a>
		</div>
		<!-- Main Area_end -->
		<script type="text/javascript">AutoComplete_init('ui.datatable');Scroll_init();</script>
	</div>	
	</div>

	<div class="footer_linea">&nbsp;</div>
	<div class="footer_lineb">
		<div class='page_inner_header'>
			<a href='http://webixui.com'><div class='bottom_webix_logo bottom_webix_block' ></div></a>
			<div class='copyright bottom_webix_block'>© XB Software Ltd<br>
			All rights reserved</div>
			<div class='copyright_spacer'>&nbsp;</div>
			<a href='http://webixui.com/contact-us/'>
				<div class='bottom_webix_block bottom_link'><div class='icon_contact'></div>Contact Us</div>
			</a>
			<a href='http://webixui.com/about-us/'>
				<div class='bottom_webix_block bottom_link'><div class='icon_about'></div>About Us</div>
			</a>
			<a href='http://webixui.com/licenses/terms-of-use/'>
              <div class='bottom_webix_block bottom_link'><div class='icon_terms'></div>Terms of Use</div>
            </a>
            <a href='http://webixui.com/licenses/privacy-policy/'>
              <div class='bottom_webix_block bottom_link'><div class='icon_policy'></div>Privacy Policy</div>
            </a>
		</div>
	</div>
</body>
</html>