<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="assets/docs.css?v=1.5">
		<link rel="search" type="application/opensearchdescription+xml" title="DHTMLX Docs" href="assets/opensearch.xml">
		<script src="assets/autocomplete.js" type="text/javascript" charset="utf-8"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="./assets/favicon.ico" rel="shortcut icon" />
		<title>Webix : $$title</title>
	</head>
<body>
	$$analytic
	<div class='abstop_header'>
		<div class='content_area'>
		&nbsp;<!-- <span>English</span>
		|
		<span>Log in</span> -->
		</div>
	</div>
	<div class="page_header">
		<div class='page_inner_header'>
			<a href='http://webix.com'><div class='top_webix_logo'></div></a>
			Developer Documentation
		</div>
	</div>

	<div class="page_space">
	<div class="webixdoc_page webixdoc_$$pageclass?">

		<!-- Left Navigation -->
		<div class="webixdoc_navarea">
			<div id="webixNavigation" class='webixdoc_navarea_inner'>
				<div class="webixdoc_search">
					<form method="get" action="search.php">
						<input type="text" accesskey="f" name="query" placeholder="Search the docs..." value="" autocomplete="off">
						<button type="submit"><img src="assets/common/search_icon.png"/></button>
					</form>
				</div>
				<div class='webixdoc_nav'>
					$$toc?
				</div>
			</div>
		</div>	  
		<!-- Left Navigation_end -->

		<div id="webixContent" class='webixdoc_content'>
			<div class="webixdoc_content_inner">
				<div class="webixdoc_breadcrumb">
				    $$back?
				</div>
				$$todo?
				<!-- Content Area -->
				$$data
				<!-- Content Area_end -->
				<a href='#top' class='webixdoc_backtop'>Back to top</a>
				$$discuss
			</div>
		</div>

		<!--Side quick links -->
		<div class="side_links">
			<a class="reference_link" href="api__toc__ui.html">
				<span>API Reference</span>
			</a>
			<a class="sample_link" href="$${sample_http}index.html">
				<span>Code Samples</span>
			</a>
			<a class="forum_link" href="http://forum.webix.com/">
				<span>Developer Forum </span>
			</a>
		</div>
		<!-- Main Area_end -->
		<script type="text/javascript">AutoComplete_init('ui.datatable');Scroll_init();</script>
	</div>	
	</div>

	<div class="footer-update">
        <div class="footer-line"></div>
        <div class="inside-footer-update">
            <ul class="footer-list-links">
                <li><a href="http://webix.com/widgets/" title="">Widgets</a></li>
                <li><a href="http://webix.com/demos/" title="">Demos</a></li>
                <li><a href="http://webix.com/download-webix-gpl" title="">Download</a></li>
                <li><a href="http://webix.com/licences/" title="">Licenses</a></li>
            </ul>
            
            <ul class="footer-list-links">
                <li><a href="http://webix.com/about-us/" title="">About us</a></li>
                <li><a href="http://webix.com/blog/" title="">Blog</a></li>
                <li><a href="http://webix.com/services/" title="">Services</a></li>
                <li><a href="http://webix.com/contact-us/" title="">Contact us</a></li>
            </ul>
            
            <ul class="footer-list-links">
                <li><a href="http://webix.com/support/" title="">Support</a></li>
                <li><a href="http://webix.com/quick-start/" title="">Quick Start</a></li>
                <li><a href="http://forum.webix.com/" title="">Forum Support</a></li>
            </ul>
            
            
            <ul class="footer-list-links">
                <li><a href="http://webix.com/development-center/" title="">Development Center</a></li>
                <li><a href="http://docs.webix.com/" title="">Documentation</a></li>
                <li><a href="http://webix.com/skin-builder/" title="">Skin Builder</a></li>
                <li><a href="http://webix.com/snippet/" title="">Code Snippet</a></li>
                <li><a href="http://webix.com/tutorials/" title="">Tutorials</a></li>
            </ul>
            
            <div class="right-part-footer">
                <ul class="soc-links-footer">
                    <li><a href="http://www.facebook.com/webixui" target="_blank" title="Facebook" class="facebook-link"></a></li>
                    <li><a href="https://twitter.com/intent/follow?screen_name=WebixUI" target="_blank" title="Twitter" class="twitter-link"></a></li>
                    <li><a href="http://www.linkedin.com/groups?gid=5082970" target="_blank" title="linkedIn" class="linked-in-link"></a></li>
                    <li><a href="https://plus.google.com/u/0/103073823656119406615/" target="_blank" title="Google+" class="google-plus-link"></a></li>
                    <li><a href="http://webix.com/category/blog/feed" target="_blank" title="rss" class="rss-link"></a></li>
                </ul>
                
                <div class="copy-rights">
                    <a href="http://webix.com" title="" class="footer-logo">Webix</a>
                    <span>
                        Â© XB Software Ltd<br />
                        All rights reserved
                    </span>
                </div>
                
                <ul class="footer-navigation">
                    <li><a href="http://webix.com/licenses/terms-of-use/" title="">Terms of Use</a></li>
                    <li><a href="http://webix.com/licenses/privacy-policy/" title="">Privacy Policy</a></li>
                </ul>
            </div>
            
        </div>
    </div>

</body>
</html>