<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="assets/docs.css">
		<link rel="search" type="application/opensearchdescription+xml" title="DHTMLX Docs" href="assets/opensearch.xml">
		<script src="assets/autocomplete.js" type="text/javascript" charset="utf-8"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="./assets/favicon.ico" rel="shortcut icon" />
		<title>Webix : Search</title>
	</head>
<body>
	<div class='abstop_header'>
		<div class='content_area'>
		&nbsp;<!-- <span>English</span>
		|
		<span>Log in</span> -->
		</div>
	</div>
	<div class="page_header">
		<div class='page_inner_header'>
			<a href='http://webix.com'><div class='top_webix_logo'></div></a>
			Developer Documentation
		</div>
	</div>

	<div class="page_space">
	<div class="webixdoc_page webixdoc_start">

		<div id="webixContent" class='webixdoc_content'>
			<div class="webixdoc_content_inner" style='min-height:600px'>

<div class="webixdoc_breadcrumb" style='padding-left:0px;'>
	<a href="index.html" class="webixdoc_back">Back to Index</a>
</div>
			<h1>Search:</h1>
			
			<div class="webixdoc_search big">
				<form method="get" action="search.php">
					<input type="text" name="query" value="$$search_word" placeholder="Search the docs..." accesskey="f" class="searchbox" autocomplete="off" />
					<button type="submit"><div class="button"></div></button>
				</form>
			</div>
			<div  class="webixdoc_search_results">
			$$rendertime
			$$search_api
			$$search_articles
			$$search_samples
			</div>

			<a href='#top' class='webixdoc_backtop'>Back to top</a>

			</div>
		</div>

		<!--Side quick links -->
		<div class="side_links">
			<a class="reference_link" href="api__toc__ui.html">
				<span>API Reference</span>
			</a>
			<a class="sample_link" href="$${sample_http}index.html">
				<span>Code Samples</span>
			</a>
			<a class="forum_link" href="http://forum.webix.com/">
				<span>Developer Forum </span>
			</a>
		</div>
		<!-- Main Area_end -->
		<script type="text/javascript">AutoComplete_init('ui.datatable');</script>
	</div>	
	</div>

	<div class="footer_linea">&nbsp;</div>
	<div class="footer_lineb">
		<div class='page_inner_header'>
			<a href='http://webix.com'><div class='bottom_webix_logo bottom_webix_block' ></div></a>
			<div class='copyright bottom_webix_block'>© XB Software Ltd<br>
			All rights reserved</div>
			<div class='copyright_spacer'>&nbsp;</div>
			<a href='http://webix.com/contact-us/'>
				<div class='bottom_webix_block bottom_link'><div class='icon_contact'></div>Contact Us</div>
			</a>
			<a href='http://webix.com/about-us/'>
				<div class='bottom_webix_block bottom_link'><div class='icon_about'></div>About Us</div>
			</a>
			<a href='http://webix.com/licenses/terms-of-use/'>
              <div class='bottom_webix_block bottom_link'><div class='icon_terms'></div>Terms of Use</div>
            </a>
            <a href='http://webix.com/licenses/privacy-policy/'>
              <div class='bottom_webix_block bottom_link'><div class='icon_policy'></div>Privacy Policy</div>
            </a>
		</div>
	</div>
</body>
</html>