<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="assets/docs.css">
		<link rel="stylesheet" type="text/css" href="assets/theme.css">
		<!--[if lte IE 9]>
			<link rel="stylesheet" type="text/css" href="assets/ie.css" />
			<style type="text/css">
				body{
					height:auto;
					overflow:hidden;
				}
			</style>
		<![endif]-->
		<style type="text/css">
			html, body{
				background-color: white;
			}
		</style>
	</head>
<body>
	<div class="body">
		<!-- Content Area -->
		<div class='chmdoc'>
			$$data
		</div>
	</div>
</body>
</html>