<ul class='column'>
	<li class='group'>Widgets</li>
<li><a href='desktop__accordion.html'>Accordion</a></li>
<li><a href='desktop__calendar.html'>Calendar</a></li>
<li><a href='desktop__carousel.html'>Carousel</a></li>
<li><a href='desktop__chart.html'>Chart</a></li>
<li><a href='desktop__controls.html'>Controls</a></li>
<li><a href='datatable__index.html'>DataTable</a></li>

</ul>

<ul class='column'>
	<li class='group'>&nbsp;</li>
<li><a href='desktop__dataview.html'>DataView</a></li>
<li><a href='desktop__form.html'>Form</a></li>
<li><a href='desktop__layout.html'>Layout</a></li>
<li><a href='desktop__list.html'>List</a></li>
<li><a href='desktop__menu.html'>Menu</a></li>
<li><a href='desktop__tabview.html'>Tabview</a></li>	
</ul>

<ul class='column'>
	<li class='group'>&nbsp;</li>
<li><a href='desktop__toolbar.html'>Toolbar</a></li>
<li><a href='datatree__index.html'>Tree</a></li>
<li><a href='desktop__treetable.html'>TreeTable</a></li>
<li><a href='desktop__unitlist.html'>UnitList</a></li>
<li><a href='desktop__uploader.html'>Uploader</a></li>
<li><a href='desktop__window.html'>Window</a></li>
</ul>

<ul class='column'>
	<li class='group'>Complex Widgets</li>
<li><a href='desktop__pivot.html'>Pivot</a></li>
<li><a href='desktop__mobile_scheduler.html'>Mobile Scheduler</a></li>
<li><a href='desktop__kanban_board.html'>Kanban Board</a></li>
<li><a href='desktop__file_manager.html'>File Manager</a></li>
<li><a href='desktop__spreadsheet.html'>SpreadSheet</a></li>
</ul>


<ul class='column'>
	<li class='group'>Resources</li>
	<li><a href='http://webix.com/snippet/'>Snippet editor</a></li>
	<li><a href='http://webix.com/skin-builder/'>Skin Builder</a></li>
	<li><a href='http://webix.com/tutorials/'>Tutorials</a></li>
    <li><a href='http://webix.com/blog/'>Blog</a></li>
</ul>

<div class="right-part-footer">
    <ul class="soc-links-footer">
        <li><a href="http://www.facebook.com/webixui" target="_blank" title="Facebook" class="facebook-link"></a></li>
        <li><a href="https://twitter.com/intent/follow?screen_name=WebixUI" target="_blank" title="Twitter" class="twitter-link"></a></li>
        <li><a href="http://www.linkedin.com/groups?gid=5082970" target="_blank" title="linkedIn" class="linked-in-link"></a></li>
        <li><a href="https://plus.google.com/u/0/103073823656119406615/" target="_blank" title="Google+" class="google-plus-link"></a></li>
        <li><a href="http://webix.com/category/blog/feed" target="_blank" title="rss" class="rss-link"></a></li>
    </ul>
    
    <div class="copy-rights">
        <a href="http://webix.com" title="" class="footer-logo">Webix</a>
        <span>
            © XB Software Ltd<br>
            All rights reserved
        </span>
    </div>

</div>