   <div class="arrow-down"><div></div></div>
    <div class="wrapper-components-links">
        <div class="inside-components-links">
    	   	<a href="desktop__getting_started.html" class="item-component-link">
                <h3>Getting Started</h3>
        		<div class='bottom_icon0'></div>
                <p>Learn key fundamentals and basic development steps</p>
            </a>
            <a href="desktop__components.html" class="item-component-link">
                <h3>Components</h3>
                <div class='bottom_icon1'></div>
                <p>Find out about individual elements and building blocks of the library</p>
            </a>
            <a href="desktop__basic_tasks.html" class="item-component-link">
                <h3>Guides</h3>
                <div class='bottom_icon2'></div>
                <p>Read detail guides on the core concepts  to choose ones that fit your needs</p>
            </a>
            <a href="$${samples_http}index.html" class="item-component-link">
                <h3>Demos</h3>
    			<div class='bottom_icon3'></div>
                <p>Explore supplied code samples to get a sense of how applications built with Webix</p>
			</a>
        	<a href="api__toc__ui.html" class="item-component-link">
                <h3>API Reference</h3>
                <div class='bottom_icon4'></div>
                <p>Look up properties, methods and events of a component</p>
            </a>
        </div>        
    </div>